@import url('https://fonts.googleapis.com/css?family=Coming+Soon');

body{
  text-align: center;
  font-family:'Coming Soon';
 /* background-repeat: no-repeat;*/
/*background-size: cover;*/
  border: 1px solid blue;

}
.hanger{
  border: 20px solid white;

}

#root{
  background-image: url("backgroundpic.jpg");
  border: 3px solid red;
  background-repeat: no-repeat;

}
.buttonBox{
  border: 1px solid black;
  margin-left: 30vw;
  margin-right: 30vw;
}

.buttonBox button{ 
  border:none;
  font-size: 20px;
  color: aliceblue;
  margin: 1px;
  background-color: #ffc107;
  box-shadow:0px 2px #ff9800;
  border-radius: 20%;
  
}

#pressed{
  border:none;
  font-size: 20px;
  color: aliceblue;
  margin: 1px;
  background-color: #dddd;
  box-shadow:0px 3px rgba(63, 63, 63, 0.521);
  border-radius: 20%;
}
#buttonClicked{
  background-color: grey;
}






