@import url('https://fonts.googleapis.com/css?family=Coming+Soon');

body{
  text-align: center;
  font-family:'Coming Soon';
 /* background-repeat: no-repeat;*/
/*background-size: cover;*/
  border: 10px solid blue;

}
.hanger{
  border: 20px solid white;
}

#root{
  background-image: url("backgroundpic.jpg");
  border: 10px solid red;
  background-size: cover;
  background-repeat: no-repeat;

}
#container{
  margin-top: 20vh;
}
#button{
  background-color: #ffc107;
  box-shadow:0px 5px #ff9800;
  border: none;
  border-radius: 20%;
  height: 30px;
  width: 30px;;
}






